<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.mvc.board.repository.BoardMapper">

    <!-- 저장기능-->
    <insert id="insert">
        INSERT INTO board (board_no, writer, title, content)
        VALUES (seq_board.nextval, #{writer}, #{title}, #{content})
    </insert>

    <!--점수 제거 기능-->
    <delete id="delete">
        DELETE FROM board WHERE board_no = #{boardNo}
    </delete>

    <!-- 게시물 수정-->
    <update id="update">
        UPDATE board SET writer = #{writer}, title = #{title}, content = #{content}, update_date=SYSDATE WHERE board_no = #{boardNo}
    </update>

    <!--resultMap 작성 -->
    <resultMap id="boardMap" type="com.spring.mvc.board.domain.Board">
        <!--property에는 자바필드, column에는 테이블컬럼명 (순서는 상관없음)-->
        <result property="boardNo" column="board_no" />
        <result column="view_cnt" property="viewCnt" />
        <result property="regDate" column="reg_date" />
        <result property="updateDate" column="update_date"/>
    </resultMap>

    <!-- 전체 조회  -->
    <!--+++21.11.17 (검색을 할때 ,안할때 둘다 이거를 쓰고싶음)-->
    <select id="getArticles" resultMap="boardMap">
<!--        SELECT * FROM board ORDER BY board_no DESC-->
        <![CDATA[
            SELECT
            board_no, title, writer, content, view_cnt, reg_date
            FROM
            (SELECT /*+INDEX_DESC(board pk_board)*/
                rownum rn, board_no, title, writer, content, view_cnt, reg_date
                FROM board
                WHERE rownum <= #{pageNum} * #{amount}
        ]]>
                <if test="type == 'title'">
                    AND title LIKE '%' || #{keyword} || '%'
                </if>
                <if test="type == 'writer'">
                    AND writer LIKE '%' || #{keyword} || '%'
                </if>
                <if test="type == 'content'">
                    AND content LIKE '%' || #{keyword} || '%'
                </if>
                <if test="type == 'titleContent'">
                    AND title LIKE '%' || #{keyword} || '%'
                        OR content LIKE '%' || #{keyword} || '%'
                </if>
        <![CDATA[
                )
            WHERE rn > (#{pageNum} - 1) * #{amount}
        ]]>
    <!--AND title LIKE '%#{keyword}%' 이렇게하면 -> '%'ㅎㅇ'%' 이렇게 되는거. keyword가 String이라서. => 더해서 처리 '%' || #{keyword} || '%'     -->
    <!--#{type} 이것도 '' 안에 들어옴.(String이라서) -->
    <!-- 동적sql로 설정해줌 조건을 : <if test="">-->
    <!-- CDATA: <,>,= 같은거 쓸 수 있게 해주는거 -->
    </select>

    <!-- 게시물 상세조회    -->
    <select id="getContent" resultMap="boardMap">
        SELECT * FROM board WHERE board_no = #{stuNum}
    </select>

    <!-- 총 게시물수 조회  +++21.11.17: WHERE 1=1~ 추가-->
    <select id="getTotalCount" resultType="int">
        <!-- 결과가 숫자 1개 ->  resultType="int" -->
        SELECT
            COUNT(*)
        FROM board
        WHERE 1=1
        <if test="type == 'title'">
            AND title LIKE '%' || #{keyword} || '%'
        </if>
        <if test="type == 'writer'">
            AND writer LIKE '%' || #{keyword} || '%'
        </if>
        <if test="type == 'content'">
            AND content LIKE '%' || #{keyword} || '%'
        </if>
        <if test="type == 'titleContent'">
            AND title LIKE '%' || #{keyword} || '%'
            OR content LIKE '%' || #{keyword} || '%'
        </if>
    <!-- WHERE 1=1 붙여줘야 AND를 다 써먹을 수 있음.(안그럼 각각 다 붙여줘야됨) -->
    </select>






</mapper>